<TidetrackerWeb.Components.Navbar.navbar
  hide_nav={Map.get(assigns, :hide_nav, false)}
  pages={Map.get(assigns, :nav_pages, Components.Navbar.meet_pages())}
  back_link={Map.get(assigns, :back_link, nil)}
/>
<.flash_group flash={@flash} />
<Components.Background.default>
  <%= @inner_content %>
</Components.Background.default>
